body, body::before {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

header {
  background: linear-gradient(135deg, #3498db 0%, #f5f5f5 100%);
  text-align: center;
  padding: 4rem 0;
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #3498db;
}

.content, .blur-container {
  padding: 4rem;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.profile-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.profile-img img {
  width: 100%;
  height: auto;
  display: block;
}

.about-text {
  padding: 0 200px;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
  background: linear-gradient(135deg, #f5f5f5 0%, #3498db 100%);
  color: #fff;
  padding: 2rem 0;
  border-top: 2px solid #ddd;
  z-index: 1;
}
.dark-mode {
  background-color: rgb(0, 0, 0);
  
  color: rgb(255, 255, 255);
}
